<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   </head>
   <body>


       <a href="/">HOME</a>
       <a href="/uploader">Upload</a>
       <a href="/deletefile">Delete</a>
       <br><hr>
       <h1>IBM Object Storage</h1>

      {% for row in files %}
         <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Filename : {{row}} </h3>
            <img src="https://flask12.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="150px"></td>
         </div>
      {% endfor %}
      <script>
  window.watsonAssistantChatOptions = {
    integrationID: "d0fe61e3-b8ef-487e-8437-8dd618f06a21", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "1e04d36c-c2c1-4fe8-8d88-4c8a85412db5", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
   </body>
</html>