<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   </head>
   <body>


       <a href="/">HOME</a>
       <a href="/uploader">Upload</a>
       <a href="/deletefile">Delete</a>
       <br><hr>
       <h1>IBM Object Storage</h1>

      {% for row in files %}
         <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Filename : {{row}} </h3>
            <img src="https://projectapplication.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="150px"></td>
         </div>
      {% endfor %}
      <script>
  window.watsonAssistantChatOptions = {
    integrationID: "65907a85-ddf5-4175-8202-bb22454ef80c", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "5b836424-d68c-4fb7-8379-cf603354d013", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
   </body>
</html>