<html>
<head>
<title>TCS</title>
</head>
<body>
 <center><h4> WELCOME TO ABOUT THE PAGE</h4></center>

     Tcs is one of the largest multinational IT service and consulting companies .It is headquartes in mumbai,Maharashtra,india,but has offices globally. It is a part of the Tata group and operates in 149 locations across 46 countries such as India ,Africa,Europe,north america and south america.


     Tcs was formed in 1968 as one of the first IT companies in india.In 2004, Tcs became a publicity traded company.It has since become one of the largest and most  profitable companies in india.Tcs is well know in the e-governance ,banking,and financial services,telecommunications,educations, and healthcare markets.
 Tcs is a major player in the IT space.it currently has over 6,06,331employees.their revenue is US $ 25 billion.
       
      Founder of the tcs is TATA SONS.
      Mr.Natarajan chandrasekran Is the chairman of the tcs.
      Mr.Rajesh gopinathan is a managing director and chief executive officer of the tcs.

</body>
</html>
